*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/codeStyles/
.idea/gradle.xml
.idea/kotlinCodeInsightSettings.xml
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/src/main/java/com/tanxin/basex/modules/main/
